 <h3><span class="label label-danger">Domanda 1</span></h3><br/>
 <%= f.hidden_field :uid, value: " " %>
 <%= f.hidden_field :card, value: session[:card_number] %>
 <%#= "Session: #{session[:card_number]}" %>
 <div class="field">
   <p><%= @questions[0].qtext %></p>
 </div>
 <div class="radio">
  <label><input type="radio" name="answer01_0" value="Sì" <%= 'checked' if session[:answer01_0] == "Sì" %> >Sì</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer01_0" value= "No" <%= 'checked' if session[:answer01_0] == "No" %> >No</label>
</div><br/>
 
  <div class="field">
   <p><%= @questions[1].qtext %></p>
 </div>
 

    <div class="radio">
      <label><input type="radio" name="answer01_1" value="reazioni indesiderate" <%= 'checked' if session[:answer01_1] == "reazioni indesiderate" %>>reazioni indesiderate</label>
    </div>
      <div class="radio">
      <label><input type="radio" name="answer01_1" value="inefficacia" <%= 'checked' if session[:answer01_1] == "inefficacia" %>>inefficacia</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer01_1" value="inequivalenza" <%= 'checked' if session[:answer01_1] == "inequivalenza" %>>inequivalenza</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer01_1" value="altro" <%= 'checked' if session[:answer01_1] == "altro" %>>altro</label>
    </div><br/>
    
    <div class="row">
      <div class="col-md-6">
       <textarea class="form-control" rows="3" placeholder="Note" name="answer01_note" ><%=session[:answer01_note]%></textarea>
      </div>
    </div>