<h3><span class="label label-danger">Domanda 17</span></h3><br/>
 <%= f.hidden_field :uid, value: " " %>

 <div class="field">
   <p><%= @questions[24].qtext %></p>
 </div>
 <div class="radio">
  <label><input type="radio" name="answer17_0" value="Sì" <%= 'checked' if session[:answer17_0] == "Sì"%> >Sì</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer17_0" value= "No" <%= 'checked' if session[:answer17_0] == "No" %> >No</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer17_0" value= "Non saprei" <%= 'checked' if session[:answer17_0] == "Non saprei" %> >Non saprei</label>
</div><br/>
<div class="row">
    <div class="col-md-6">
       <textarea class="form-control" rows="3" placeholder="Note" name="answer17_note" ><%=session[:answer17_note]%></textarea>
    </div>
</div>