<h3><span class="label label-danger">Domanda 9</span></h3><br/>
 <%= f.hidden_field :uid, value: " " %>

 <div class="field">
   <p><%= @questions[15].qtext %></p>
 </div>
 <div class="radio">
  <label><input type="radio" name="answer09_0" value="Sì" <%= 'checked' if session[:answer09_0] == "Sì" %> >Sì</label>
</div>
<div class="radio">
  <label><input type="radio" name="answer09_0" value= "No" <%= 'checked' if session[:answer09_0] == "No" %> >No</label>
</div><br/>

<div class="row">
    <div class="col-md-6">
       <textarea class="form-control" rows="3" placeholder="Note" name="answer09_note" ><%=session[:answer09_note]%></textarea>
    </div>
</div>