<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @survey.uid %>
</p>

<p>
  <strong>Card:</strong>
  <%= @survey.card %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
