<div class="row">
  <div class="panel panel-<%=session[:choice]%>">
    <div class="panel-heading"><%= "STEP #{@advice.current_step_idx(@advice.current_step)}" %></div>
    <div class="panel-body" align="center"><h2>Di che si tratta?</h2></div>
</div>


<div class="advice_intro">
<fieldset class="<%= session[:choice] + '_choice'%>">
    <div class="radio">
      <label><input type="radio" name="advice01" value="Problema" <%= 'checked' if session[:advice01] == "Problema" %> >Problema</label><br/>
      <label><input type="radio" name="advice01" value= "Esigenza/Suggerimento" <%= 'checked' if session[:advice01] == "Esigenza/Suggerimento" %>>Esigenza/Suggerimento</label>
    </div>
</fieldset>
</div>
 