<div class="row">
  <div class="panel panel-<%=session[:color_selection]%>">
    <div class="panel-heading"><%= extract_choice(session[:choice]).upcase + " - STEP #{@advice.current_step_idx(@advice.current_step)}" %></div>
    <div class="panel-body" align="center">
      <% if session[:choice] == "shopping" %>
          <h2>Che tipo di sito hai utilizzato?</h2>
      <% else %>
          <!--<h2>Qual è la struttura coinvolta?</h2> -->
          <h2>Qual è il tipo di struttura per cui si vuole indicare un <%= (session[:advice01]).downcase if session[:advice01] %> ?</h2>
      <% end %>
    </div>  
</div>

</div>
<div class="row">
 <div class="container">
  <!--<p>Di seguito alcune alternative possibili</p> -->
  <% if session[:choice] == "drugs" %>
        <form>
          <div class="checkbox">
            <input type="hidden" name="advice03_a" value="">
            <label><input type="checkbox" name="advice03_a" value="Ospedale" <%= 'checked'  if session[:advice03_a] == "Ospedale" %>>Ospedale</label>
          </div>
          <div class="checkbox">
            <input type="hidden" name="advice03_b" value="">
            <label><input type="checkbox" name="advice03_b" value="Farmacia" <%= 'checked' if session[:advice03_b] == "Farmacia" %>>Farmacia</label>
          </div>
          <div class="checkbox">
            <input type="hidden" name="advice03_c" value="">
            <label><input type="checkbox" name="advice03_c" value="Parafarmacia" <%= 'checked' if session[:advice03_c] == "Parafarmacia" %>>Parafarmacia</label>
          </div>
        </form>
  <% elsif session[:choice] == "health system" %>
      <form>
        <div class="checkbox">
          <input type="hidden" name="advice03_a" value="">
          <label><input type="checkbox" name="advice03_a" value="Farmacia" <%= 'checked' if session[:advice03_a] == "Farmacia" %>>Farmacia</label>
        </div>        
        <div class="checkbox">
          <input type="hidden" name="advice03_b" value="">
          <label><input type="checkbox" name="advice03_b" value="Ospedale" <%= 'checked'  if session[:advice03_b] == "Ospedale" %>>Ospedale</label>
        </div>
        <div class="checkbox">
          <input type="hidden" name="advice03_c" value="">
          <label><input type="checkbox" name="advice03_c" value="Poliambulatorio" <%= 'checked' if session[:advice03_c] == "Poliambulatorio" %>>Poliambulatorio</label>
        </div>
        <div class="checkbox">
          <input type="hidden" name="advice03_d" value="">      
          <label><input type="checkbox" name="advice03_d" value="Ambulatorio medico" <%= 'checked' if session[:advice03_d] == "Ambulatorio medico" %>>Ambulatorio medico</label>
        </div>
        <div class="checkbox">
          <input type="hidden" name="advice03_e" value="">      
          <label><input type="checkbox" name="advice03_e" value="Usca" <%= 'checked' if session[:advice03_e] == "Usca" %>>Usca</label>
        </div>
        <div class="checkbox">
          <input type="hidden" name="advice03_f" value="">      
          <label><input type="checkbox" name="advice03_f" value="Hub" <%= 'checked' if session[:advice03_f] == "Hub" %>>Hub</label>
        </div>        
      </form>
  <% elsif session[:choice] == "shopping" %>
        <form>
          <div class="checkbox">
            <input type="hidden" name="advice03_a" value="">
            <label><input type="checkbox" name="advice03_a" value="Sito di una farmacia presente sul territorio nazionale" <%= 'checked'  if session[:advice02_a] == "Sito di una farmacia presente sul territorio nazionale" %>>Sito di una farmacia presente sul territorio nazionale</label>
          </div>
          <div class="checkbox">
            <input type="hidden" name="advice02_b" value="">
            <label><input type="checkbox" name="advice02_b" value="Sito nazionale di sola vendita di prodotti su Internet" <%= 'checked' if session[:advice02_b] == "Sito nazionale di sola vendita di prodotti su Internet" %>>Sito nazionale di sola vendita di prodotti su Internet</label>
          </div>
          <div class="checkbox">
            <input type="hidden" name="advice02_c" value="">
            <label><input type="checkbox" name="advice02_c" value="Sito internazionale di sola vendita di prodotti su Internet" <%= 'checked' if session[:advice02_c] == "Sito internazionale di sola vendita di prodotti su Internet" %>>Sito internazionale di sola vendita di prodotti su Internet</label>
          </div>
        </form>  
  
  

  
  
  
  
  
  
  
  
  
  <% end %>
  
  
  
</div>

</div> 
 
 
    <%#= debug(session[:choice]) %>
    <%#= debug(session[:advice02]) %>