<%#= params.inspect %>
<%= form_for(@advice, :html => {class: "form-group"}, :color_selection => @selection) do |f| %>
  <% if @advice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advice.errors.count, "error") %> prohibited this advice from being saved:</h2>

      <ul>
      <% @advice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="jumbotron">
  <!--<div class="container">-->
 
    <ul class="pagination">
          <% unless @advice.first_step?%>
              <%= button_tag(type: "submit", :id => "back_cmd", :name => "back_button", class: "btn btn-lg btn-primary") do %>
                  <i class="fa fa-arrow-circle-left"></i><br/>
              <% end %>
          <% end %> 
          <% unless @advice.last_step? %>
              <%#= link_to "Exit", advices_leave_path %>
              <%= link_to advices_leave_path, id: "advice_arrow", class: "btn btn-lg btn-danger active" do %>
                  <i class="fas fa-sign-out-alt"> Esci</i><br/>
              <% end %>
              <%= button_tag(type: "submit", class: "btn btn-lg btn-primary") do %>
                  <i class="fa fa-arrow-circle-right"></i><br/>
              <% end %>

          <% else %>
              <%= link_to advices_leave_path, id: "advice_arrow", class: "btn btn-lg btn-danger active" do %>
                  <i class="fas fa-sign-out-alt"> Esci</i><br/>
              <% end %>          
              <%= button_tag(type: "submit", class: "btn btn-lg btn-success") do %>
                  <i class="fas fa-share-square">  Invia</i><br/>
              <% end %>
          <% end %>
      </ul>

    <%= render "#{@advice.current_step}", :f => f, :color_selection => @selection %>    
  <!--</div><br/> -->
</div>

<% end %>

 