<div class="jumbotron text-center">
    <h1></b>Analisi dei dati raccolti</h1>
    <!--<h4 class="stat">Approach change after the interviews</h4> -->
</div>


<div class="row choice">
    <div class="panel panel-success col-md-6">
        <div class="panel-heading advice_stat1">AMBITO</div>
        <div class="panel-body">
            <div>
                <%= pie_chart(@choices, library: {title: "Ambito", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
            </div>
        </div>
    </div>
    <div class="panel panel-success col-md-6">
        <div class="panel-heading advice_stat2">TIPOLOGIA SEGNALAZIONI</div>
        <div class="panel-body">
            <div>
                <%= pie_chart(@typologies, library: {title: "Tipologia segnalazioni", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
            </div>
        </div>
    </div>    
</div>

<% @choice_alternatives.each do |ch| %>
    <% unless ch == "farmaci acquistati su internet" %>
            <div class="row">
                <div class="panel panel-success col-md-6">
                    <div class="panel-heading advice_stat2"><%= "AMBITO: #{ch.upcase} - " %>LUOGHI SEGNALATI</div>
                    <div class="panel-body">
                        <div>
                            <% places = get_places_by_choice(ch) %>
                            <%= pie_chart(places, library: {title: "Ambito", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success col-md-6">
                    <div class="panel-heading advice_stat1"><%= "AMBITO: #{ch.upcase} - " %>LUOGHI SEGNALATI PER PROVINCIA</div>
                    <div class="panel-body">
                        <div>
                            <% places_by_province = get_place_by_province(ch) %>
                            <%= bar_chart places_by_province, stacked: true, library: {title: "Luoghi segnalati in ciascuna provincia"} %>
                            <%#= pie_chart(@typologies, library: {title: "Tipologia segnalazioni", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                        </div>
                    </div>
                </div>    
            </div>
     <% else %>
     <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading advice_stat2"><%= "AMBITO: #{ch.upcase} - " %>LUOGHI SEGNALATI</div>
                    <div class="panel-body">
                        <div>
                            <% places = get_places_by_choice(ch) %>
                            <%= pie_chart(places, library: {title: "Ambito", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                        </div>
                    </div>
                </div>
     </div>
     <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading advice_stat1"><%= "AMBITO: #{ch.upcase} - " %>LUOGHI SEGNALATI PER PROVINCIA</div>
                    <div class="panel-body">
                        <div>
                            <% places_by_province = get_place_by_province(ch) %>
                            <%= bar_chart places_by_province, stacked: true, library: {title: "Luoghi segnalati in ciascuna provincia"} %>
                            <%#= pie_chart(@typologies, library: {title: "Tipologia segnalazioni", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                        </div>
                    </div>
                </div>    
     </div>
     <% end %>
<% end %>

<% @choice_alternatives.each do |ch| %>
    <% topics = count_elements(AdviceDetail.where(:choice => ch).pluck(:topic)) %>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading <%= cycle("advice_stat1", "advice_stat2") %>"><%= "AMBITO: #{ch.upcase} - " %>OGGETTO DELLE SEGNALAZIONI</div>
            <div class="panel-body">
                <div>
                    <%= pie_chart(topics, library: {title: "Tipologia segnalazioni", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                </div>
            </div>
        </div>
    </div>
<% end %>    


<% @choice_alternatives.each do |ch| %>
    <% problems = count_elements(AdviceDetail.where(choice: ch, typology: "problema").pluck(:description)) %>
    <% suggestions = count_elements(AdviceDetail.where(choice: ch, typology: "esigenza/suggerimento").pluck(:description)) %>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading advice_stat1"><%= "AMBITO: #{ch.upcase} - " %>PROBLEMATICHE SEGNALATE</div>
            <div class="panel-body">
                <div>
                    <%= pie_chart(problems, library: {title: "Ambito", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                </div>
            </div>
        </div>
        
        <div class="panel panel-success">
            <div class="panel-heading advice_stat2"><%= "AMBITO: #{ch.upcase} - " %>SUGGERIMENTI FORNITI</div>
            <div class="panel-body">
                <div>
                    <%= pie_chart(suggestions, library: {title: "Tipologia segnalazioni", pieSliceText: 'percentage', plotOptions: {pie: {dataLabels: {format: "<b>{point.name}</b>: {point.y} ({point.percentage:.1f}%)"}}}}) %>
                </div>
            </div>
        </div>    
    </div>
<% end %>    

<% @choice_alternatives.each do |ch| %>

    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading <%=cycle('advice_stat1', 'advice_stat2') %>"><%= "AMBITO: #{ch.upcase} - " %>DISTRIBUZIONE KEYWORD</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <% case ch 
                        when "farmaci"%><%= high_chart("bubble1", @chart1) %>
                     <% when "farmaci acquistati su internet" %><%= high_chart("bubble2", @chart2) %>
                     <% when "sistema sanitario" %><%= high_chart("bubble3", @chart3) %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>



 
